* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    color: #e1eeeb;
    overflow: hidden;
}

body::before {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
    height: 100%;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
    background-image: url('assets/volvo-bg.png');
}

.background-overlay.visible {
    opacity: 1;
}


/* Calculator body */

#calculator-body {
    width: 100%;
    align-items: stretch;
    display: flex;
    padding: 6rem 30rem 2rem 2rem;
    position: relative;
    z-index: 1;
    margin: 0;
    height: 100%;
}

/* Form */

form h1 {
    text-transform: capitalize;
    font-size: 2rem;
    margin: 2rem 0.5rem;
    text-align: center;
    font-weight: 600;
    line-height: 1.3;
    color: black;
}

form h2 {
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-top: -25px;
    color: #141414;
}

.disclaimer {
    font-size: 1.2rem;
    margin: 0 auto 40px auto;
    width: 65%;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
}

form {
    width: 500px;
    height: fit-content;
    padding: 1rem;
    max-width: 30rem;
    margin: 50px auto 0 auto;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.sub-title {
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
    margin: -10px 10px 25px 10px;
    font-weight: 500;
    line-height: 1.5;
}

form h3 {
    font-size: 1rem;
    font-weight: 500;
    border-spacing: 1rem;
    color: #000;
    text-align: center;
    line-height: 1.4;
}

form p {
    color: #141414;
    margin: -0.4rem 1rem 1.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
}

label {
    color: #000;
    text-align: left;
    display: block;
    margin: 1rem auto;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 1px;
}

input,
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ec854d;
    border-radius: 13px;
    background-color: transparent;
    color: #141414;
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Hide spinner in number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    display: none;
}


/* Custom styles for Select2 */
.select2-container--default .select2-selection--single {
    border: 1px solid #ec854d;
    border-radius: 13px;
    background-color: transparent;
    color: #141414;
    height: auto;
    width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.5;
    padding: 0.5rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    right: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #141414;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #141414;
}

.select2-container--default .select2-results__option {
    color: #141414;
}

.select2-container--default .select2-selection--single:hover {
    border-color: #ec854d;
}

/* Button */
button {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 13px;
    background-color: #ec854d;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover,
button:disabled {
    color: #ec854d;
    background-color: #ffff;
    border-color: #ec854d;
}

.hs-button {
    display: none;
}


/* Results */

#result {
    display: flex;
    width: 100%;
    height: 100vh;
    color: #ffff;
    background: rgba(7, 26, 39, 0.9);
    padding: 0rem 5rem;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
    justify-content: flex-start;
    align-items: flex-start;

}

.result-header {
    background: linear-gradient(to left, rgba(240, 244, 248, 0.7), rgba(214, 225, 230, 0));
    width: 100%;
    margin: 0;
    padding: 1rem;
    align-items: start;
}


.result-box {
    width: 65%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    text-align: center;
    margin: 0 auto;
}

.number-box {
    color: black;
    background: rgba(255, 255, 255, 1);
    margin: 8px 0;
    border-radius: 5px;
    padding: 40px 15px;
}

.primary-result {
    color: black;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 8px;
}


.result-box {
    width: 85%;
    padding: 1rem 0 4rem 0;
}

#additionalInfo h5 {
    font-size: 1.2rem;
    margin: 1rem auto;
    width: 100%;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    color: black;
    background: linear-gradient(to right, rgba(240, 244, 248, 0.7), rgba(214, 225, 230, 1));
    border-radius: 5px;
    padding: 2rem 6rem 2rem 6rem;
}

#result h1 {
    width: 80%;
    margin: 25px auto 15px auto;
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
}

#result h3 {
    margin-top: 25px;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    line-height: 1.4;
}

#result h4 b,
#result h3 b {
    margin-top: 25px;
    color: #ec854d;
    font-weight: 600;
    line-height: 1.8;
    font-size: 1.5rem;
}

#result h4 b {
    font-size: 2.5rem;
}

#result h4 {
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: 1.4;
    border-radius: 8px;
}

.footerDiv .disclaimer-footer {
    margin-top: 2.5rem;
    text-align: left;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1rem;
}

#result p {
    font-weight: 400;
    line-height: 1.4;
    font-size: 1rem;
    margin-top: -1rem;
}

#result p b {
    font-weight: 500;
}

.net {
    margin-top: 4rem;
}

/* Social Section */

.footerDiv {
    text-align: left;
}

.savingsBtn {
    font-size: smaller !important;
    line-height: 1.5;
    width: 70%;
}

#social-section {
    display: none;

}

.social-icons {
    margin-top: 25px;
    display: flex;
    justify-content: left;
    gap: 10px;
}

.icon {
    background-color: transparent;
    border: 2px solid #ec854d;
    text-align: center;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    color: #ec854d;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 5px;
}

.icon:hover {
    background-color: #ec854d;
    color: white;
}


/* Responsive */

@media (max-width: 1200px) {

    body {
        display: block;
        padding: 0;
        width: 100%;
    }


    #calculator-body {
        max-width: 100%;
        justify-content: center;
        margin: 0;
        height: 100%;
        padding: 0;
    }

    .disclaimer {
        margin: 0 auto 35px auto;
        width: 95%;
    }

    #additionalInfo h5 {
        font-size: 1rem;
        margin: 1rem auto;
        width: 95%;
        padding: 2rem 2rem 2rem 2rem;
        
    }

    .footerDiv .disclaimer-footer {
        margin-top: 2rem;
    }

    #result {
        width: 100%;
        overflow: auto;
        display: flex;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .result-box {
        width: 85%;
    }

    .savingsBtn {
        width: 100%;
        font-size: x-small;
    }

}

@media (max-width: 780px) {

    .background-overlay {
        background-position: 30%;
        padding-bottom: 2rem;
    }

    #calculator-body {
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        margin: 0;
        height: 100%;
        padding: 0;
    }

    form {
        max-width: 80%;
        padding: 2rem;
        margin: 2.5rem 2rem 2rem 3rem;
    }

    #result {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    form h1 {
        text-transform: capitalize;
        font-size: 1.8rem;
        margin: 1rem 1rem;
    }

    form h2 {
        margin: -8px 0 30px 0;
    }

    #result p {
        font-size: 0.7rem;
        font-weight: 400;
    }

    .footerDiv .disclaimer-footer {
        margin-top: 2rem;
        font-size: 0.8rem;
    }


    input,
    select {
        padding: 0.4rem;
        font-size: 0.8rem;
    }

    button {
        font-size: 1rem;
        letter-spacing: 2px;
        padding: 0.5rem;
    }

    #additionalInfo h5 {
        font-size: 0.9rem;
        margin: 1rem auto;
        width: 95%;
        padding: 1rem 2rem 1rem 2rem;
    }

    .result-box {
        width: 90%;
        gap: 15px;
        padding: 1rem 1rem 4rem 1rem;
    }


    #result h3 {
        font-size: 1.2rem;
    }

    #result h4 b,
    #result h3 b {
        font-size: 1.2rem;
    }

    #result h4 b {
        font-size: 1.5rem;
    }

    .savingsBtn {
        font-size: 0.7rem !important;
    }

}


@media (max-width: 600px) {

    form {
        max-width: 85%;
        padding: 2rem;
        margin: 50px auto 0 auto;
    }

    .sub-title {
        font-size: 1.2rem;
        margin: -10px 10px 25px 10px;
        line-height: 1.4;
    }


    .disclaimer {
        font-size: 1rem;
        line-height: 1.4;
        width: 100%;
    }

    #additionalInfo h5 {
        font-size: 0.8rem;
        margin: 1rem auto;
        width: 95%;
        padding: 1rem;
    }

    .result-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        width: 100%;
        padding: 0.5rem 1rem 3rem 1rem;
        text-align: center;
    }

    #result {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #result h1 {
        font-size: 2.5rem;
        line-height: 1.2;
    }

    #result h3 {
        font-size: 1rem;
        line-height: 1.3;
    }

    #result h4 {
        font-size: 1rem;
    }

    #result p {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .footerDiv .disclaimer-footer {
        margin-top: 1.5rem;
    }

    .social-icons {
        justify-content: left;
    }

    .savingsBtn {
        font-size: 0.6rem !important;
        letter-spacing: 1.5px;
    }

}