* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    font-family: 'lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    min-height: 100vh;
    color: #e1eeeb;
    overflow: auto;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/volvo-bg.png");
    background-position: center;
    background-size: cover;
    transition: opacity 1.5s ease-in-out, background-image 1.5s ease-in-out;
    opacity: 1;
    z-index: -1;
}

/* Calculator body */

#calculator-body {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin: 0rem -30rem 2rem 4rem;
    padding: 6rem 30rem 2rem 2rem;
    position: relative;
    z-index: 1;
}

h1 {
    text-transform: capitalize;
    font-size: 2rem;
    margin: 2rem 0.5rem;
    text-align: center;
    font-weight: 600;
    line-height: 1.3;
    color: #000;
}

form h2 {
    text-align: center;
    font-weight: 500;
    line-height: 1.4;
    margin-top: -25px;
    color: #141414;
}

form p {
    color: #141414;
}

.sub-title {
    font-size: 1rem;
    text-align: center;
    margin: -10px 10px 25px 10px;
    font-weight: 500;
    line-height: 1.5;
}

/* Form */

form {
    min-width: 450px;
    max-width: 600px;
    height: fit-content;
    padding: 1rem;
    max-width: 30rem;
    margin: 2rem auto;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form h3 {
    font-size: 1rem;
    font-weight: 500;
    border-spacing: 1rem;
    color: #000;
}

form p {
    margin: -0.4rem 1rem 1.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
}

label {
    color: #000;
    text-align: center;
    display: block;
    margin: 1rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 1px;
}

input,
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ec854d;
    border-radius: 13px;
    background-color: transparent;
    color: #141414;
    font-size: 1rem;
    background-color: white;
}

input:focus,
select:focus {
    background-color: white;
}

/* Read-only */
input[readonly] {
    display: none;
}

/* Hide spinner in number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Button */
button {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 13px;
    background-color: #ec854d;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover,
button:disabled {
    color: #ec854d;
    background-color: #ffff;
    border-color: #ec854d;
}

.hs-button {
    display: none;
}


/* Results */

#result h2 {
    padding-top: 10px;
    font-size: xx-large;
    text-transform: capitalize;
}

#result h3 {
    font-size: larger;
    color: #ec854d;
    font-weight: 500;
    padding-top: 8px;
}

#result h4 {
    font-size: x-large;
    color: #000;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
    background: rgba(255, 255, 255, 0.8);
    line-height: 4rem;
    text-align: center;
    border-radius: 8px;
}

#result p {
    font-weight: 400;
    line-height: 1.3;
}

#result b {
    font-weight: 600;
    line-height: 1.5;
}

#result {
    display: none;
    color: #ffff;
    background: rgba(7, 26, 39, 0.9);
    width: 600px;
    padding: 1rem 2rem 2rem 2rem;
    margin: 8rem 2rem 3rem 3rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
}


/* Social Section */

#social-section {
    display: none;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon {
    background-color: transparent;
    border: 2px solid #ec854d;
    align-items: center;
    text-align: center;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    color: #ec854d;
    padding: 5px 0 0 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.icon:hover {
    background-color: #ec854d;
    color: white;
}


/* Responsive */

@media (max-width: 1200px) {

    body {
        display: block;
        padding-bottom: 2rem;
    }

    #calculator-body {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        justify-content: center;
        margin: 0;
        padding: 2rem;
    }

    #result {
        width: 100%;
        max-width: 500px;
        justify-content: center;
        padding: 1rem 2rem;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto;
    }


}

@media (max-width: 780px) {

    .background-overlay {
        background-position: 30%;
        padding-bottom: 2rem;
    }

    body {
        padding: 1rem;
    }

    #calculator-body {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        justify-content: center;
        margin: 1rem 0;
        padding: 2rem;
    }

    form {
        max-width: 70%;
        padding: 2rem;
        margin: 2.5rem 2rem 2rem 3rem;
    }

    #result {
        max-width: 100%;
        margin: auto;
        padding: 2rem;
        width: 480px;
    }

    h1 {
        text-transform: capitalize;
        font-size: 1.8rem;
        margin: 1rem 1rem;
    }

    form h2 {
        margin: -8px 0 30px 0;
    }

    input,
    select {
        padding: 0.4rem;
        font-size: 0.9rem;
    }

    button {
        font-size: 1rem;
        letter-spacing: 2px;
        padding: 0.5rem;
    }


    @media (max-width: 600px) {

        form {
            max-width: 80%;
            padding: 2rem;
            margin: 2.5rem 2rem 1rem 2rem;
        }


        #result p {
            font-weight: 400;
            line-height: 1.3;
            margin: 1rem 1rem;
        }

    }

}